* {
    margin: 0;
    padding: 0;
}

html,
body {
    /* background: black; */
    overflow: hidden;
}

#home-background {
    background-image: url("../images/stars1.jpg");
    position: relative;
    width: 100vw;
    height: 110vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

#play-background {
    background-image: url("../images/galaxy-giffy\ \(1\).gif");
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

#ship {
    width: 100px;
    position: absolute;
    z-index: 1;
    transform: translate(-50%, -50%);
    transition: all 0.3s linear;
}

#monster {
    width: 150px;
    position: absolute;
    transform: translate(-50%, -50%);
    transition: all 1s linear;
}

.bullets {
    width: 30px;
    position: absolute;
    transform: translate(-50%, -50%);
}

#heart {
    width: 30px;
}

#life-bar {
    width: 100%;
    height: 100%;
    background: #a63838;
    border-radius: 20px;
    box-shadow: 1px 1px 1px gainsboro;
}

.flex-row {
    display: flex;
    align-items: center;
    padding-top: 50px;
}
.row {
    display: flex;
}

#enemy {
    width: 30px;
}

.life-bar-container {
    width: 200px;
    height: 25px;
    background: white;
    border-radius: 20px;
    border: 5px solid blue;
}
.top-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
}

.logo {
    width: 400px;
    margin: 50px auto;
}

.ships img {
    width: 200px;
    padding: 30px;
    margin: 10px;
    cursor: pointer;
}

.flex-row img:hover {
    transform: scale(1.2, 1.2);
    transition: 0.3s all linear;
    border: 5px solid greenyellow;
}

.choose {
    text-align: center;
    color: white;
    z-index: 1;
    font-family: "Orbitron", sans-serif;
}

.center {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.modal-box {
    background: white;
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background: rgba(0, 0, 0, 0.8);
    z-index: 1000;
    width: 300px;
    height: 300px;
}

.modal-box img {
    width: 100px;
    margin: 50px auto;
}

#play-again,
#main-menu {
    width: 80px;
    height: 30px;
    border-radius: 10%;
    background: white;
    border: 1px solid #a63838;
}

#play-again:hover,
#play:hover,
#main-menu:hover,
#back-button:hover {
    background: #ff5733;
}

#play {
    width: 80px;
    height: 25px;
    border-radius: 20%;
    margin: 0 auto;
    margin-top: 50px;
    display: block;
    font-size: 1rem;
}

#back-button {
    position: relative;
    width: 60px;
    height: 25px;
    border-radius: 20%;
    left: 0;
}

.selected-ship {
    border: 3px solid orange;
    box-shadow: 3px 3px 3px solid;
}

.bombs {
    width: 50px;
    position: absolute;
    transform: translate(-50%, -50%);
    transition: all 1s linear;
}

#ship-on-bar {
    width: 40px;
}

#life-bar-ship {
    width: 100%;
    height: 100%;
    background: #a63838;
    border-radius: 20px;
    box-shadow: 1px 1px 1px gainsboro;
}
