* {
    margin: 0;
    padding: 0;
}

#home-background {
    background-image: url("../images/star3.jpg");
    position: relative;
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#play-background {
    background-image: url("../images/galaxy-giffy\ \(1\).gif");
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#ship {
    width: 100px;
    position: absolute;
    z-index: 1;
    transform: translate(-50%, -50%);
    transition: all 1s linear;
}

#monster {
    width: 150px;
    position: absolute;
    transform: translate(-50%, -50%);
    transition: all 1s linear;
}

.bullets {
    width: 30px;
    position: absolute;
    transform: translate(-50%, -50%);
}

#heart {
    width: 30px;
}

#life-bar {
    width: 200px;
    height: 20px;
    background: #a63838;
    border-radius: 20px;
    box-shadow: 1px 1px 1px gainsboro;
}

.flex-row {
    display: flex;
    align-items: center;
}

#life-bar-monster {
    width: 30px;
}
